body {
  background-color: pink;
}
h1 {
    color: black;
    text-align: center;
  font-family: Georgia, "Times New Roman",
          Times, serif;
  background-image:background-image: url("https://www.google.it/imgres?imgurl=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2Fm9dfRlySfO1Ta%2Fsource.gif&imgrefurl=https%3A%2F%2Fgiphy.com%2Fgifs%2Floading-icon-squares-m9dfRlySfO1Ta&docid=w0r2VD0gTF1FYM&tbnid=J7cPKAaINDobLM%3A&vet=10ahUKEwjegseLhYzaAhVF3aQKHaeOCJUQMwhDKA4wDg..i&w=1000&h=1000&bih=735&biw=1517&q=gif%20squares&ved=0ahUKEwjegseLhYzaAhVF3aQKHaeOCJUQMwhDKA4wDg&iact=mrc&uact=8");
}
p {
      text-align: center;
  border: 8px solid black;
  margin:200px;
  padding:10px;
  font-family: Georgia, "Times New Roman",
          Times, serif;
    font-size: 15px;
  background-color:white;
color:black;
  display: block;
}
h2 {
  color:white;
  font-family:Georgia, "Times New Roman",
          Times, serif;
  font-size:28px;
}
