body {
  background-image: url("https://discourse-cdn.freetls.fastly.net/boingboing/uploads/default/original/3X/e/7/e7fb5e3a88e4f35f56d219658667386395150d95.gif");
}
h1 {    
  margin-bottom: 28px;
  font-weight: 800;
  line-height: 1.75;
  border: 8px solid white;
  margin:230px;
  padding:15px;
  color: black;
  background-color:cornflowerblue;
    text-align: center;
  font-family: Georgia, "Times New Roman",
          Times, serif;
  
}

h2 {
  border: 4px solid black;
    margin: 10px;
    padding: 30px
  color:black;
  background-color:pink;
  font-family:Georgia, "Times New Roman",
          Times, serif;
  font-size:22px;
  font-weight: 500;
  text-align:left;
}

p {
      text-align: center;
  border: 5px solid black;
  margin:200px;
  padding:10px;
  font-family: Georgia, "Times New Roman",
          Times, serif;
    font-size: 25px;
  background-color:white;
color:black;
  display: block;
}



.placeholder {
  text-align:left;
}
